* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'viga', 'sans-serif';
}

.slide {
    height: 100vh;
}

/* styles, slide 1 */



/* styles, slide 2 */



/* styles, slide 3 */