/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', 'sans-serif';
    scroll-behavior: smooth;
}

.secondFontColor {
    color: white;
}

h1, h2, h3, h4, a {
    text-transform: uppercase;
    font-family: 'viga', 'sans-serif'
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: unset;
}

header, .thirdRow {
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 60px 50px; 
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

.scrollArrow {
    text-align: center;
    margin: 0 100px 50px 0;
    align-self: flex-end;
}

.scrollArrow img {
    width: 50px;
}

.slide {
    height: 100vh;
    width: 100vw;
}

/* styles for slide one */
.slide:nth-child(1) {
    background-color: white;
    width: 100vw;
}

.slide:nth-child(1) h1 {
    padding: 50px 50px 0 0; 
    text-align: right;
    font-size: 60px;
    line-height: 120%;
    color: #577158;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
}

.slide:nth-child(1) .greyBackground {
    display: grid;
    grid-template-rows: 30% 30% 40%;
}

.bacteria {
    max-height: 100%;
    margin: 55px 0  0 32vh;
}

.hand {
    max-height: 100%;
    margin-left: -20px;
    z-index: 2;
}

/* styles for slide two */
.slide:nth-child(2) {
    background-color: white;
    overflow-y: scroll;
}


/* styles for slide three */
.slide:nth-child(3) {
    background-color: white;
}

.greyBackground {
    background-color: #E3E3E3;
    height: 90vh;
    border-radius: 0px 0px 150px 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.covid19Information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutCovid19 {
    background-color: #577158;
    width: 80vw;
    margin: 50px;
    padding: 40px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.guidelines {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.guidelines img {
    height: 20vh;
    width: 20vh;
    border-radius: 30px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main heading fade in animation */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


/* scroll-down arrow animation */

/* .scroll-down {
	animation: fade_move_down 2s ease-in-out infinite;
} */

@-webkit-keyframes fade_move_down {
    0% {
   -webkit-transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   -webkit-transform:translate(0, 10px);
   opacity: 0;
   }
   }
   @-moz-keyframes fade_move_down {
    0% {
   -moz-transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   -moz-transform:translate(0, 10px);
   opacity: 0;
   }
   }
   @keyframes fade_move_down {
    0% {
   transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   transform:translate(0, 10px);
   opacity: 0;
   }
   }

   
/* Keyframe animation for bacteria */

.hovering {
    -webkit-animation-name: hovering;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: hovering;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    animation-name: hovering;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes hovering {
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, -15px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes hovering {
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(0, -15px);}
    to {-moz-transform: translate(0, -0px);}
}

@keyframes hovering {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -15px);}
    to {transform: translate(0, -0px);}
}


/* styles slide 2 */
.green_background {
    display: flex;
    background-color: #577158;
    height: 90vh;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.534);
    border-radius: 0px 0px 0px 150px;
    overflow-x: auto
}

.scrollWrapper {
    width: 200vw;
    display: flex;
}

.verticalSlideOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    align-items: center;
    justify-items: center;
}

.verticalSlideTwo {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.illustration h4{
    font-size: 24px;
    color: white;
    text-align: center;
}

.img_shadow{
    max-width: 80%;
    justify-self: center;
    align-self: center;
    margin-left: 6em;
}

.down_arrow{
    max-width: 30px;
    margin-bottom: -3em;
    margin-left: -7em;
   
  
}

.illustration a{
    text-decoration: none;
    color: white;
    margin-left: -24em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.counter{
    display: grid;
    grid-template-rows: auto auto;
    padding: 2em;
}

#countryForm{
    padding-bottom: 2em;
    margin-top: -3em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#countryForm input {
    width: 270px;
    height: 50px;
    padding: 2px 0 0 20px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

#countryForm input[type="text"]{
    width: 84%;
    padding: 20px;
    padding-right: 60px;
    outline: none;
}

.globalButton {
    width: 52px;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
}

button{
border: none;
}

.button-holder img{
    position: absolute;
    top: 50%;
    transform: translateY(-105%);
    right: 70px;
    width: 30px;
}

.counter_data{
    background-color: white;
    width: 380px;
    height: 470px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.counter_data  p{
    font-size: 30px;
    margin-left: 0.7em;
    margin-top: 0.1em;
}

.counter_data  h2{
    font-size: 27px;
    margin-left: 1em;
    margin-top: 1em;
}

.red{
    color: #993434;
}

.orange{
    color: #CC7B44;
}

.yellow{
    color: #b2ad19;
}

.light_green{
    color: #A1C358;
}

.green{
    color: #52A352;
}





