/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', 'sans-serif';
    scroll-behavior: smooth;
}

.secondFontColor {
    color: white;
}

h1, h2, h4{
    text-transform: uppercase;
    font-family: 'viga', 'sans-serif';
}

a{
    text-decoration: none;
    color: unset;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}




header, .thirdRow {
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 60px 50px; 
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

.greyBackground li a {
    text-transform: uppercase;
    font-family: viga;
}

.scrollArrow {
    text-align: center;
}

.scrollArrow img {
    width: 30px;
}

.slide {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
}

/* styles for slide one */

.slide:nth-child(1) h1 {
    padding: 50px 50px 0 0; 
    text-align: right;
    font-size: 60px;
    line-height: 120%;
    color: #577158;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
}

.slide:nth-child(1) .greyBackground {
    display: grid;
    grid-template-rows: 30% 30% 40%;
}

.slide:nth-child(1) .scrollArrow {
    text-align: center;
    margin: 0 100px 50px 0;
    align-self: flex-end;
}

.bacteria {
    max-height: 100%;
    margin: 55px 0  0 32vh;
}

.hand {
    max-height: 100%;
    margin-left: -20px;
    z-index: 2;
}

/* styles for slide two */

.green_background {
    background-color: #577158;
    min-height: 90vh;
    border-radius: 0px 0px 0px 150px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.466);
    display: grid;
    grid-template-columns: 50% 50%;
}

.illustration{
    display: grid;
    grid-template-rows:  10% 80% 10%;
}

.illustration h4{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 2em;
}

.img_shadow{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.down_arrow{
    width: 30px;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -6em;
}

.illustration a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: roboto;
}

.counter{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
}


.search{
    display: grid;
    grid-template-columns: 75% 15%;
}

#countryForm{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2em;
}

#countryForm input {
    width: 496px;
    height: 50px;
    padding: 2px 0 0 20px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

#countryForm input[type="text"]{
    padding: 20px;
    padding-right: 60px;
    outline: none;
}

button{
    border: none;
}
    
.button-holder img{
    position: absolute;
    top: 40%;
    transform: translateY(-105%);
    right: 20px;
    width: 30px;
}
    

.globalButton {
    width: 50px;
    height: 50px;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    margin-top: 2em;
    margin-left: 1em;
    
}

.counter_data{
    display: flex;
    flex-direction: row;
}

.white_box_one{
    width: 265px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 1em;
    margin-right: 20px;
    padding: 15px;
}

.white_box_one h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin-top: 8px;
    text-transform: uppercase;
}

.totalConfirmed{
    font-family: viga;
    font-size: 2em;
}

.totalRecovered{
    font-family: viga;
    font-size: 2em;
}

.white_box_two{
    width: 265px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 1em;
    padding: 15px;
}

.white_box_two h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin-top: 8px;
    text-transform: uppercase;
}

.percentageRecovered{
    font-family: viga;
    font-size: 5em;
}

.chart{
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 550px;
    height: 315px;
    padding: 15px;
}

.country_info{
    display: flex;
    margin-left: 10em;
}
.country_info p{
    color: rgb(112, 112, 112);
    margin-left: 1em;
}

.chartData {
    width: 500px;
    margin: 10px auto;
}

.red{
    color: #993434;
}

.orange{
    color: #CC7B44;
}

.yellow{
    color: #b2ad19;
}

.light_green{
    color: #A1C358;
}

.green{
    color: #52A352;
}



/* styles for slide three */

.greyBackground {
    background-color: #E3E3E3;
    height: 90vh;
    border-radius: 0px 0px 150px 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.slide:nth-child(3) .greyBackground {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offset {
    color: black;
    background-color: #FFFFFF;
    width: 285px;
    height: 70px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -60px 0 15px -70px;
}


.covid19Information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutCovid19 {
    width: 90%;
    margin:  5vw 0 2vw;;
    padding: 30px;
    background-color: #577158;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}



.aboutCovid19 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    margin-top: 0.3em;
    margin-left: 0;
}

.guidelines {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.guidelines img {
    width: 15%;
    border-radius: 30px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
}
/* Back to top arrow */
.scrollUpArrow {
    text-align: center;
    margin: 3vh;
}

.scrollUpArrow h2 {
    font-size: 0.8em;
}

.scrollUpArrow img {
    width: 30px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main heading fade in animation */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


/* scroll-down arrow animation */

/* .scroll-down {
	animation: fade_move_down 2s ease-in-out infinite;
} */

@-webkit-keyframes fade_move_down {
    0% {
   -webkit-transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   -webkit-transform:translate(0, 10px);
   opacity: 0;
   }
   }
   @-moz-keyframes fade_move_down {
    0% {
   -moz-transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   -moz-transform:translate(0, 10px);
   opacity: 0;
   }
   }
   @keyframes fade_move_down {
    0% {
   transform:translate(0, -10px);
   opacity: 0;
   }
    50% {
   opacity: 1;
   }
    100% {
   transform:translate(0, 10px);
   opacity: 0;
   }
   }

   
/* Keyframe animation for bacteria */

.hovering {
    -webkit-animation-name: hovering;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: hovering;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    animation-name: hovering;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes hovering {
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, -15px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes hovering {
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(0, -15px);}
    to {-moz-transform: translate(0, -0px);}
}

@keyframes hovering {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -15px);}
    to {transform: translate(0, -0px);}
}



